a {
    color: black;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

.bg-color-red {
    background-color: #d51c1c;
}

.bg-color-dark-gray {
    background-color: darkslategrey;
    color: white;
}

.bg-color-dark-gray:hover {
    background-color: white;
    color: darkslategrey;
    border: 1px solid darkslategrey;
}

.text-white {
    color: white;
}

.pizza-img-wrapper {
    /* background-size: cover; */
  width: 300px;
  height: 300px;
  overflow: hidden;
  position: relative;
  background: rgb(255, 255, 255);
  margin: 10px 0;
}

.pizza-img-wrapper img{
    height: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    object-fit: cover;
}
